<!DOCTYPE html>
<div ng-app="">
  <html>
    <head>
      <meta charset="utf-8">
      <title>{{ greeting }} world</title>
    </head>
    <body>
      <p>{{ 6 + 1}}</p>
      <br>
      <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
      <p>{{ greeting }} world!</p>
      <br>
      <input type="text" ng-model="name" placeholder="What is your name?">
      <h1>My name is: {{name}}</h1>
      <br>
      <select ng-model="string">
        <option value="">Select your favorite pet</option>
        <option value="dogs">Dogs</option>
        <option value="cats">Cats</option>
        <option value="both">Both</option>
        <option value="none">None</option>
      </select>
      <h3>I love {{string}}</h3>
      <br>
      <p>My name is {{"BoJack" + "Horseman"}}</p>
      <p>{{ [99,43,22].length }}</p>
      <p>{{3.14159265359 | currency:"€"}}</p>
      <br>
      <h2>Please say something</h2>
      <input type="text" ng-model="speak">
      <p>Yelling: {{speak | uppercase}}</p>
      <p>whispering: {{speak | lowercase}}</p>
      <br>
      <p>How many digits of pi do you want?
        <select ng-model='digitPi'>
          <option value='0'>0</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
        </select>
      </p>
      <p>Here you go! The first {{digitPi}} digit of pi!</p>
      <p>{{3.14159265359| number:digitPi}}
      <br>
      <h1>Super Useful Tip Calculator</h1>
      <p>How much did your meal cost?<input type='number' ng-model='cost'></p>
      <p>How much do you want to tip?
        <select ng-model='percentage'>
          <option value='10'>10%</option>
          <option value='15'>15%</option>
          <option value='20'>20%</option>
        </select>
      </p>
      <h3>Subtotal: {{cost | currency}}</h3>
      <h3>Tip Total: {{cost / percentage}}</h3>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </html>
</div>
