.highlight {
  background-color: yellow;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.onSale {
  color: orange;
}

.divbox {
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 6px;
}
