<div class='row'>
  <div class='col-md-12 text-center'>
    <p>Enter a movie by title</p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12 text-center'>
    <form name='searchForm' ng-submit='ajaxCall()'>
      <div class='form-group'>
        <input class='col-md-4 col-md-offset-4 text-center' ng-model='view.searchInput' placeholder='Movie Title'></input>
        <br>
        <br>
        <button type='submit' class="btn btn-default">Search!</button>
      </div>
    </form>
  </div>
</div>

<div class='row text-center' ng-repeat='content in view.calledContent'>
  <table class='table table-bordered'>
    <td ng-click='secondCall($index)'>
      <h5>{{content.Title}}</h5>
      <h6>{{content.Year}}</h6>
      <h6>{{content.Type}}</h6>
    </td>
  </table>
</div>
