<div ng-style='{"height": "100%", "width": "100%", "border": "solid black 1px"}'>
  <div class='row'>
    <div class='col-md-11 col-md-offset-2'>
      <h1>{{view.specificMovie.Title}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3 col-md-offset-2'>
      <img ng-src={{view.specificMovie.Poster}} />
    </div>
    <div class='col-md-3 col-md-offset-1'>
      <p>Starring: {{view.specificMovie.Actors}}</p>
      <br>
      <p>{{view.specificMovie.Plot}}</p>
      <br>
      <h4><strong>Additional Details</strong></h4>
      <br>
      <h5><strong>Awards</strong></h5>
      <p>{{view.specificMovie.Awards}}</p>
      <h5><strong>Country</strong></h5>
      <p>{{view.specificMovie.Country}}</p>
      <h5><strong>Director</strong></h5>
      <p>{{view.specificMovie.Director}}</p>
      <h5><strong>Genre</strong></h5>
      <p>{{view.specificMovie.Genre}}</p>
      <h5><strong>Language</strong></h5>
      <p>{{view.specificMovie.Language}}</p>
      <h5><strong>Metascore</strong></h5>
      <p>{{view.specificMovie.Metascore}}</p>
      <h5><strong>Rated</strong></h5>
      <p>{{view.specificMovie.Rated}}</p>
      <h5><strong>Released</strong></h5>
      <p>{{view.specificMovie.Released}}</p>
      <h5><strong>Runtime</strong></h5>
      <p>{{view.specificMovie.Runtime}}</p>
      <h5><strong>Title</strong></h5>
      <p>{{view.specificMovie.Title}}</p>
      <h5><strong>Writer</strong></h5>
      <p>{{view.specificMovie.Writer}}</p>
      <h5><strong>Year</strong></h5>
      <p>{{view.specificMovie.Year}}</p>
      <h5><strong>imdbRating</strong></h5>
      <p>{{view.specificMovie.imdbRating}}</p>
      <h5><strong>imdbVotes</strong></h5>
      <p>{{view.specificMovie.imdbVotes}}</p>
    </div>
  </div>
</div>
